:root {
  --omicron-position: 'translate(0px, 0px)';
  --captain-position: 'translate(0px, 0px)';
}
#captain-ship-img.retreat {
  animation: retreat 1s cubic-bezier(1, 0.06, 1, 0.9) forwards;
}

@keyframes retreat {
  from {
  }
  to {
    transform: translate(3000px, -600px);
  }
}

#captain-ship-laser.hit {
  animation: captain-hit 0.5s backwards;
}

@keyframes captain-hit {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: var(--omicron-position);
  }
}

#captain-ship-laser.miss {
  animation: captain-miss 0.5s backwards;
}

@keyframes captain-miss {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(2500px, 450px);
  }
}

#omicron-ship-laser.hit {
  animation: omicron-hit 0.5s ease-in-out backwards;
}

@keyframes omicron-hit {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: var(--captain-position);
  }
}

#omicron-ship-laser.miss {
  animation: omicron-miss 0.5s backwards;
}

@keyframes omicron-miss {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(-1560px, -125px);
  }
}

.exploded {
  animation: animate-explosions 0.5s ease-out backwards;
}

@keyframes animate-explosions {
  from {
    opacity: 1;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}
