#captain-ship-img.retreat {
  animation: retreat 1s cubic-bezier(1, 0.06, 1, 0.9) forwards;
}

@keyframes retreat {
  from {
  }
  to {
    transform: translate(2000px, -600px);
  }
}

#captain-ship-laser.hit {
  animation: captain-hit 0.5s backwards;
}

@keyframes captain-hit {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(1180px, 160px);
  }
}

#captain-ship-laser.miss {
  animation: captain-miss 0.5s backwards;
}

@keyframes captain-miss {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(1123px, 350px);
  }
}

#omicron-ship-laser.hit {
  animation: omicron-hit 0.5s ease-in-out backwards;
}

@keyframes omicron-hit {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(-585px, 148px)
  }
}

#omicron-ship-laser.miss {
  animation: omicron-miss 0.5s backwards;
}

@keyframes omicron-miss {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
    transform: translate(-560px, -125px);
  }
}
