button:focus {
  outline: none;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-blue);
  background: var(--color-blue);
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  margin: 0 0.5rem;
  max-width: 200px;
  text-transform: uppercase;
}

.btn:hover,
.btn:active {
  background: var(--color-blue-subtle);
  border-color: var(--color-blue-subtle);
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.modal {
  z-index: 100;
  max-width: 1070px;
  background-color: var(--bg-red);
}

.captain {
  display: none;
}

.captain.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.ship {
  display: none;
}

.ship.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.game-finish {
  display: none;
}

.game-finish.visible {
  display: block;
}

.modal .modal__title {
  margin: 0;
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: white;
  border-radius: 10px 10px 0 0;
}

.modal .modal__content {
  padding: 3rem;
}

.modal .modal__actions {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal__content {
  display: flex;
  flex-direction: column;
}

.captain__container {
  display: flex;
  justify-content: space-between;
}

.ship__container {
  display: flex;
  justify-content: center;
  gap: 75px;
  align-items: stretch;
}

.captain__item,
.ship__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.captain__item img {
  flex-grow: 2;
  padding: 20px;
}

.captain__item button {
  width: 120px;
}

#zapp-img {
  height: 500px;
}

#planet-express-img {
  width: 400px;
  height: auto;
  margin: auto;
}

#nimbus-img {
  width: 400px;
  height: auto;
}

.ship__item button {
  margin-top: 20px;
  width: 190px;
}

.game-finish__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.4rem;
  gap: 40px;
}

.game-finish__content img {
  width: 800px;
}

.game-finish__slogan {
  width: 60%;
  text-align: center;
}

@keyframes fade-slide-in {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0);
  }
}
